// ----------------------
// Theme Color Palettes
// ----------------------

// Light Color Palette
$light-background: #dedcdc;
$light-header: #ffffffb3;
$light-text: #000;
$light-card: #fff;
$light-border: #e0e0e0;
$light-accent: #004DA0;
$light-accent-shadow: #004c9e66;
$light-toggler: #ffcc24;
$light-fog: #fff700;
$light-dust: #000000;
$light-hero-title-primary: #fff;
$light-hero-title-secondary: #000;

// Dark Color Palette
$dark-background: #101010;
$dark-header: #000000b3;
$dark-text: #f1f1f1;
$dark-card: #000;
$dark-border: #001D3D;
$dark-accent: #28a745;
$dark-accent-shadow: #28a74536;
$dark-toggler: #004DA0;
$dark-fog: #00f;
$dark-dust: #ffcc24;
$dark-hero-title-primary: #ffcc24;
$dark-hero-title-secondary: #000;

// Theme Variables
$themes: (
    // Light Theme
    light: (
        background: $light-background,
        header: $light-header,
        text: $light-text,
        card: $light-card,
        border: $light-border,
        accent: $light-accent,
        accent-shadow: $light-accent-shadow,
        toggler: $light-toggler,
        fog: $light-fog,
        dust: $light-dust,
        hero-title-primary: $light-hero-title-primary,
        hero-title-secondary: $light-hero-title-secondary
    ),
    // Dark Theme
    dark: (
        background: $dark-background,
        header: $dark-header,
        text: $dark-text,
        card: $dark-card,
        border: $dark-border,
        accent: $dark-accent,
        accent-shadow: $dark-accent-shadow,
        toggler: $dark-toggler,
        fog: $dark-fog,
        dust: $dark-dust,
        hero-title-primary: $dark-hero-title-primary,
        hero-title-secondary: $dark-hero-title-secondary
    )
);

// ----------------------
// Theme Classes
// ----------------------
html[data-theme="light"],
html[data-theme="dark"] {

    @each $theme, $colors in $themes {

        &[data-theme="#{$theme}"] {

            @each $key, $val in $colors {

                --#{$key}: #{$val};
            }
        }
    }

}

// ----------------------
// Base Styles (Mobile‑first)
// ----------------------
* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    scroll-behavior: smooth !important;
    scroll-padding: calc(var(--header-height)) 0 0 0;
    scrollbar-width: 0;
    -ms-overflow-style: none;  // IE and Edge
    &::-webkit-scrollbar {
        width: 0;  // Chrome, Safari, Opera
    }
}

body.modal-active {
    overflow: hidden;
}

body {
    color: var(--text);
    width: 100%;
    font-family: 'Roboto', sans-serif;
    transition: background 0.3s, color 0.3s;
    background-color: var(--background);

    // ----------------------
    // Age Verification Modal
    // ----------------------
    #age-modal {
        width: 100%;
        height: 100%;
        background: var(--background);
        align-items: center;
        justify-content: center;
        z-index: 2000;

        .modal-content {
            color: var(--text);
            padding: 0.5rem;
            border-radius: 10px;
            background: var(--card);
            box-shadow: 0 0 1rem 0.3rem var(--accent-shadow);

            .modal-header {
                border-bottom: 0.1rem solid var(--accent);

                h5 {
                    font-size: clamp(1.3rem, 3vw, 1.5rem);
                    margin-bottom: 0;
                }
            }

            p {
                font-size: clamp(1rem, 1vw, 1.2rem);
                text-align: center;
                margin: 0;
            }

            .modal-footer {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 0;
                border-top: 0.1rem solid var(--accent);

                .btn {
                    color: var(--text);
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: clamp(0.8rem, 1vw, 1rem);
                    will-change: transition;
                    transition: background-color 0.3s;
                }
            }
        }
    }

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    // ----------------------
    // Header Layout
    // ----------------------
    footer {
        color: var(--text);
        width: 100%;
        background: var(--card);
        padding: 0 1rem;
        z-index: 1000;
        filter:
            drop-shadow(0 0.1rem 0.2rem var(--border))
        ;
    }

    header {
        width: 100%;
        height: 5rem;

        .navbar {
            height: var(--header-height);
            padding: 0;
            background-color: transparent;
            transition: background-color 0.7s ease;

            &.scrolled {
                background-color: var(--header);
                backdrop-filter: blur(6px);
                box-shadow: 0 4px 12px rgba(0,0,0,0.4);
            }

            .container-fluid {
                max-width: 1700px;

                .logo-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4rem;
                    max-width: 5rem;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;

                        .logo {
                            height: auto;
                            width: 100%;
                            object-fit: cover;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            box-shadow: 0 0 6px 2px #ffcc243e;
                        }
                    }
                }

                .navbar-toggler {

                    &:not(:focus-visible) {
                        outline: 1px solid var(--text);
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }

                .offcanvas {
                    color: var(--text);
                    height: 100vh;
                    background-color: var(--header);

                    .offcanvas-header {
                        border-bottom: 0.1rem solid var(--accent);
                        background-color: var(--background);

                        .btn-close {
                            filter:
                                drop-shadow(0 0 0.1rem var(--text))
                            ;
                        }
                    }

                    .offcanvas-body {
                        backdrop-filter: blur(6px);

                        .nav-link {
                            transition: color 0.3s;

                            &:hover {
                                color: var(--accent);
                            }
                        }
                    }

                    a {
                        color: var(--text);
                    }

                    .locations-toggle {
                        margin-bottom: 0.5rem;
                    }

                    .locations-list {
                        margin-bottom: 1rem;
                    }
                }

                /* Custom theme toggler using Font Awesome icons */
                .theme-toggle-label {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 3.5rem;
                    height: 1.5rem;
                    padding: 0 5px;
                    border-radius: 5rem;
                    background-color: var(--background);
                    box-shadow: inset 0 0 3px 0.2px var(--toggler);
                    cursor: pointer;
                    filter:
                        drop-shadow(0 0 0.1rem var(--toggler))
                    ;

                    .fa-sun,
                    .fa-moon {
                        font-size: 0.8rem;
                    }

                    .fa-sun {
                        color: #FFCC24;  /* Sun color */
                    }
                    
                    .fa-moon {
                        color: #004da0;  /* Moon color */
                    }

                    .slider {
                        position: absolute;
                        top: 17%;
                        left: 7%;
                        width: 1rem;
                        height: 1rem;
                        background: var(--toggler);
                        border-radius: 50%;
                        transition: transform 0.3s ease;
                        z-index: 2;
                    }

                    .theme-toggle {
                        position: absolute;
                        opacity: 0;
                    }

                    .theme-toggle:checked ~ .slider {
                        transform: translateX(2.04rem);
                    }
                }

                .theme-notification {
                    position: fixed;
                    top: 80px;
                    right: 20px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: var(--text);
                    font-size: 0.9rem;
                    border-left: 4px solid var(--accent);
                    padding: 12px 20px;
                    border-radius: 4px;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
                    background-color: var(--card);
                    z-index: 1000;
                    opacity: 0;
                    transform: translateX(30px);
                    transition: opacity 0.3s ease, transform 0.3s ease;
                    pointer-events: none;

                    .fa-circle-info {
                        color: var(--accent);
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100dvh;
    }

    // ----------------------
    // Footer Layout
    // ----------------------
    footer {
        border-top: 1px solid var(--border);
        border-bottom: none;
        text-align: center;
        padding: 2rem 0;

        p {
            margin: 0;
            font-size: 0.9rem;
        }
    }
}