// ----------------------
// Theme Color Palettes
// ----------------------

// Light Color Palette
$light-background: #dedcdc;
$light-header: #ffffff53;
$light-text: #000;
$light-card: #fff;
$light-border: #b5b5b5;
$light-accent: #004DA0;
$light-accent-shadow: #004c9e66;
$light-toggler: #ffcc24;
$light-fog: #fff700;
$light-dust: #000000;
$light-hero-title-primary: #fff;
$light-hero-title-secondary: #000;

// Dark Color Palette
$dark-background: #101010;
$dark-header: #000000b3;
$dark-text: #f1f1f1;
$dark-card: #000;
$dark-border: #001D3D;
$dark-accent: #28a745;
$dark-accent-shadow: #28a74536;
$dark-toggler: #004DA0;
$dark-fog: #00f;
$dark-dust: #ffcc24;
$dark-hero-title-primary: #ffcc24;
$dark-hero-title-secondary: #000;

// Theme Variables
$themes: (
    // Light Theme
    light: (
        background: $light-background,
        header: $light-header,
        text: $light-text,
        card: $light-card,
        border: $light-border,
        accent: $light-accent,
        accent-shadow: $light-accent-shadow,
        toggler: $light-toggler,
        fog: $light-fog,
        dust: $light-dust,
        hero-title-primary: $light-hero-title-primary,
        hero-title-secondary: $light-hero-title-secondary
    ),
    // Dark Theme
    dark: (
        background: $dark-background,
        header: $dark-header,
        text: $dark-text,
        card: $dark-card,
        border: $dark-border,
        accent: $dark-accent,
        accent-shadow: $dark-accent-shadow,
        toggler: $dark-toggler,
        fog: $dark-fog,
        dust: $dark-dust,
        hero-title-primary: $dark-hero-title-primary,
        hero-title-secondary: $dark-hero-title-secondary
    )
);

// ----------------------
// Theme Classes
// ----------------------
html[data-theme="light"],
html[data-theme="dark"] {

    @each $theme, $colors in $themes {

        &[data-theme="#{$theme}"] {

            @each $key, $val in $colors {

                --#{$key}: #{$val};
            }
        }
    }

}