<!-- smokeshop/storelocator/templates/storelocator/index.html -->

{% extends "storelocator/layout.html" %}
{% load static %}

{% block title %}
    Cigar Cartel
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'storelocator/scss/index.css' %}">
{% endblock %}

{% block body %}

<main id="page-content">

    <div class="parallax-image-container">
        <img
            src="https://t4.ftcdn.net/jpg/01/71/13/85/240_F_171138532_HIf9rVIYyMbdPlpIfcK6scPtBWJp0OX7.jpg"
            alt="Hero Image"
            class="para-image"
            loading="lazy"
        />
    </div>

    <section id="hero">

        <!-- Logo -->
        <img
            src="{% static 'storelocator/images/logo.svg' %}"
            alt="Cigar Cartel Logo"
            class="brand-logo"
            loading="lazy"
        />

        <nav id="hero-nav" role="navigation" aria-label="Main navigation">
            <ul class="hero-nav-links">

                <li>
                    <a href="#about">About</a>
                </li>

                <li>
                    <a href="#locator-map">Map</a>
                </li>

                <li>
                    <a href="#locations">Locations</a>
                </li>

            </ul>
        </nav>

    </section>

    <section id="about" class="main-panel" role="region" aria-label="Welcome to Cigar Cartel Store Locator">
        <div id="panel-wrapper">

            <section id="thanks">

                <h1 class="about-title">
                    <span class="title-text">
                        Thanks for visiting
                    </span>

                    <span class="company-name">
                        Cigar Cartel
                    </span>
                </h1>
        
                <ul class="split-text">

                    <li>
                        You can find our exceptional walk-in humidors conveniently located across Central Florida, inside of your local 419 Smoke Shops.
                    </li>

                    <li>
                        Each humidor is stocked with the finest cigars, featuring a wide variety of popular cigar brands, including those sought-after, hard-to-find cigars.
                    </li>

                    <li>
                        At Cigar Cartel, we are committed to providing you with the finest cigars at the best possible prices. We inspect and hand-pick every cigar to ensure it meets the highest standards of quality and freshness.
                    </li>

                    <li>
                        We also offer a range of cigar accessories, including cutters, ashtrays, lighters, torches, butane, and humidification solutions, to enhance your smoking experience.
                    </li>

                </ul>
        
                <footer id="about-footer">
                    
                    <p>
                        Find a location near you!
                    </p>

                    <a href="#locator-map" aria-label="Scroll to address form" id="scroll-down">
                        <i class="arrow fa-solid fa-arrow-down"></i>
                    </a>

                </footer>

            </section>

            <section id="featured-images" class="sub-panel">

                <!-- Desktop cigar images -->
                <div class="wrapper">

                    <!-- Featured cigar image -->
                    <div class="ft-cigar-wrapper">
                        <img
                            src="{% static 'storelocator/images/variety1.jpg' %}"
                            alt="Premium cigar selection"
                            class="featured-cigar"
                        />
                    </div>
                    
                    <!-- Cigar thumbnails - Replace with your own images -->
                    <div class="cigar-thumbnails">
        
                        <img
                            src="{% static 'storelocator/images/variety1.jpg' %}"
                            alt="Cigar variety 1"
                            class="cigar-thumbnail active"
                            tabindex="0"
                        />
        
                        <img
                            src="{% static 'storelocator/images/variety2.jpg' %}"
                            alt="Cigar variety 2"
                            class="cigar-thumbnail"
                            tabindex="0"
                        />
        
                        <img
                            src="{% static 'storelocator/images/variety3.jpg' %}"
                            alt="Cigar variety 3"
                            class="cigar-thumbnail"
                            tabindex="0"
                        />
        
                    </div>
            
                </div>

            </section>

            <section id="discounts" class="sub-panel">

                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-inner deals">

                        <div class="carousel-item active">
                            <img
                                src="{% static 'storelocator/images/birthday.png' %}"
                                alt="Birthday Treat Discount"
                            />
                        </div>

                        <div class="carousel-item">
                            <img
                                src="{% static 'storelocator/images/veterans.png' %}"
                                alt="Veterans Discount"
                            />
                        </div>

                        <div class="carousel-item">
                            <img
                                src="{% static 'storelocator/images/hero.png' %}"
                                alt="First Responders Discount"
                            />
                        </div>

                        <div class="carousel-item">
                            <img
                                src="{% static 'storelocator/images/disney.png' %}"
                                alt="Disney Employee Discount"
                            />
                        </div>

                        <div class="carousel-item">
                            <img
                                src="{% static 'storelocator/images/golf.png' %}"
                                alt="Golfer's Bundle Discount"
                            />
                        </div>

                        <div class="carousel-item">
                            <img
                                src="{% static 'storelocator/images/wedding.png' %}"
                                alt="Wedding Bundle Discount"
                            />
                        </div>

                        <div class="carousel-item">
                            <img
                                src="{% static 'storelocator/images/newborn.png' %}"
                                alt="Newborn Bundle Discount"
                            />
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>

            </section>
            
        </div>
    </section>

    <section id="locator-map" class="main-panel" role="region" aria-label="Store locator map">

        <!-- Address Lookup Form -->
        <form id="address-form" role="search" data-url="{% url 'storelocator:index' %}" method="get">
            
            {% csrf_token %}
            {{ form }}

            <button class="btn btn-primary" type="submit" aria-label="Find a store">
                Search
            </button>

        </form>

        <div id="map" role="region" aria-label="Store locations map" loading="lazy">
            <!-- Google Map will be rendered here -->
        </div>

        <div class="list-group">
            {% for store in stores %}

                <div class="list-group-item list-group-item-action" onclick="zoomToStore('{{ store.id }}');">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ store.name }}</h5>
                        <small>
                            <i class="fa-regular fa-clock"></i> {{ store.opening_hour }} - {{ store.closing_hour }}
                        </small>
                    </div>

                    <p class="mb-1">{{ store.address }},</p>
                    <p class="mb-1">{{ store.city.name }}, {{ store.city.state.abbreviation }} {{ store.zip_code }}</p>

                    <small>
                        <i class="fa-solid fa-phone"></i> <a href="tel:{{ store.phone_number }}">{{ store.phone_number }}</a>
                    </small>
                </div>

            {% empty %}

                <p>No stores found.</p>

            {% endfor %}

        </div>

    </section>

    <section id="locations" class="main-panel" role="region" aria-label="List of store locations">
        <div class="card-container">

            {% for store in stores %}

                <div id="{{ store.name }}" class="card">

                    <div id="carouselExampleFade{{ store.id }}" class="carousel slide carousel-fade">

                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <img
                                    src="{{ store.main_image.url }}"
                                    class="store-image"
                                    alt="Main {{ store.name }}"
                                    loading="lazy"
                                />
                            </div>

                            <div class="carousel-item">
                                <img
                                    src="{{ store.primary_image.url }}"
                                    class="store-image"
                                    alt="Primary {{ store.name }}"
                                    loading="lazy"
                                />
                            </div>

                            <div class="carousel-item">
                                <img
                                    src="{{ store.secondary_image.url }}"
                                    class="store-image"
                                    alt="Secondary {{ store.name }}"
                                    loading="lazy"
                                />
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade{{ store.id }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade{{ store.id }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <div class="card-body">

                        <div class="location-name-hours">
                            <a href="{% url 'storelocator:store' store.city.state.slug store.city.slug store.slug %}">
                                <h5 class="card-title">{{ store.name }}</h5>
                            </a>

                            <small class="hours">
                                <i class="fa-regular fa-clock"></i> {{ store.opening_hour }} - {{ store.closing_hour }}
                            </small>
                        </div>

                        <div class="location-address">
                            <p>{{ store.address }},</p>
                            <p>{{ store.city.name }}, {{ store.city.state.abbreviation }} {{ store.zip_code }}</p>
                        </div>

                        <p class="location-contact-directions">
                            <small class="contact">
                                <i class="fa-solid fa-phone"></i> <a href="tel:{{ store.phone_number }}">{{ store.phone_number }}</a>
                            </small>

                            <button
                                class="btn btn-primary directions"
                                type="button"
                                aria-label="directions for {{ store.name }}"
                                onclick="getDirections('{{ store.address }}');"
                            >
                                <i class="fa-solid fa-route"></i>
                            </button>
                        </p>

                    </div>
                </div>

            {% empty %}

                <p>No stores found.</p>

            {% endfor %}

        </div>
    </section>

</main>
{% endblock %}

{% block scripts %}
    <!-- Embed store data as JSON -->
    <script id="stores-data" type="application/json">
        {{ stores_json|safe }}
    </script>
{% endblock %}


