{% load static %}
<!DOCTYPE html>

<html data-theme="dark" lang="en">

    <head>
        <!-- Meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find your nearest Cigar Cartel store.">
        <meta name="keywords" content="Cigar Cartel, store locator, cigars, tobacco">
        <meta name="author" content="Joseph Krakos Jr.">

        <!-- Manifest -->
        <link rel="manifest" href="{% static 'storelocator/favicon/manifest.json' %}">

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'storelocator/favicon/favicon-16x16.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'storelocator/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'storelocator/favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'storelocator/favicon/android-icon-192x192.png' %}">
        <link rel="shortcut icon" href="{% static 'storelocator/favicon/favicon.ico' %}">

        <!-- Apple Touch Icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'storelocator/favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'storelocator/favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'storelocator/favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'storelocator/favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'storelocator/favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'storelocator/favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'storelocator/favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'storelocator/favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'storelocator/favicon/apple-icon-180x180.png' %}">

        <!-- Android Icons -->
        <link rel="icon" type="image/png" sizes="36x36" href="{% static 'storelocator/favicon/android-icon-36x36.png' %}">
        <link rel="icon" type="image/png" sizes="48x48" href="{% static 'storelocator/favicon/android-icon-48x48.png' %}">
        <link rel="icon" type="image/png" sizes="72x72" href="{% static 'storelocator/favicon/android-icon-72x72.png' %}">
        <link rel="icon" type="image/png" sizes="144x144" href="{% static 'storelocator/favicon/android-icon-144x144.png' %}">

        <!-- Browser Configuration -->
        <meta name="msapplication-config" content="{% static 'storelocator/favicon/browserconfig.xml' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'storelocator/favicon/ms-icon-144x144.png' %}">

        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        >

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        >

        <!-- Custom Scss -->
        <link rel="stylesheet" href="{% static 'storelocator/scss/styles.css' %}">
        <link rel="stylesheet" href="{% static 'storelocator/scss/index.css' %}">

        <title>{% block title %}{% endblock %}</title>

        <!-- Font Awesome -->
        <script
            src="https://kit.fontawesome.com/8f5b2d3aa3.js"
            crossorigin="anonymous"
            data-search-pseudo-elements
        >
        </script>
         
    </head>

    <body>

        <div id="age-modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Age Verification</h5>
                    </div>

                    <div class="modal-body">
                        <p>You must be at least 21 years of age or older to access this site.</p>
                    </div>

                    <footer class="modal-footer">
                        <button id="ageYes" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                            I am 21+
                        </button>

                        <button id="ageNo" type="button" class="btn btn-secondary">
                            I am under 21
                        </button>
                    </footer>

                </div>
            </div>
        </div>

        <header>
            <nav class="navbar navbar-dark fixed-top">
                <div class="container-fluid">

                    <div class="logo-container">
                        <a href="{% url 'storelocator:index' %}">
                            <img
                                class="logo"
                                src="{% static 'storelocator/images/logo.svg' %}"
                                alt="Cigar Cartel Logo"
                            />
                        </a>
                    </div>


                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasDarkNavbar"
                        aria-controls="offcanvasDarkNavbar"
                        aria-label="Toggle navigation"
                    >
                        <svg class="navbar-toggler-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                            <path stroke="var(--accent)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/>
                        </svg>
                    </button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">

                        <div class="offcanvas-header">

                            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                                Cigar Cartel
                            </h5>
                            
                            <button
                                type="button"
                                class="btn-close btn-close-white"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                            >
                            </button>

                        </div>

                        <div class="offcanvas-body">

                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>

                                <li class="locations nav-item dropdown">

                                    <a class="locations-toggle nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Locations
                                    </a>

                                    <ul class="locations-list dropdown-menu dropdown-menu-dark dropdown-menu-end">

                                        <li>
                                            <a class="dropdown-item" href="#">Action</a>
                                        </li>
                                        
                                        <li>
                                            <a class="dropdown-item" href="#">Another action</a>
                                        </li>

                                        <li><hr class="dropdown-divider"></li>

                                        <li>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </li>

                                    </ul>

                                </li>

                            </ul>

                            <label class="theme-toggle-label" for="theme-toggle">
                                <input
                                    id="theme-toggle"
                                    name="theme-toggle"
                                    class="theme-toggle"
                                    type="checkbox"
                                />

                                <i class="fas fa-sun"></i>

                                <span class="slider"></span>

                                <i class="fas fa-moon"></i>
                            </label>

                            <div id="theme-notification" class="theme-notification">
                                <i class="fas fa-circle-info"></i>
                                <span id="notification-text"></span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}
        {% endblock %}

        <footer>
            <div class="container">
                <p>&copy; 2025 Cigar Cartel</p>
            </div>
        </footer>

        {% block scripts %}
        {% endblock %}
    </body>

</html>